@{
    ViewData["Title"] = "版本控制系统";
}
@model IEnumerable<AutoUpgradeCore.UpgradeVersionInfo>

<div >
    <div>
        @foreach (var app in ViewBag.Data)
        {
            <h5 class=" text-primary">@app.Key</h5>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th width="150">版本号</th>
                        <th width="180">更新时间</th>
                        <th width="100">大小</th>
                        <th>日志</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AutoUpgradeCore.UpgradeVersionInfo v in app.Value)
                    {
                        <tr>
                            <th>@v.Version<span class="badge text-primary">@v.Tag</span></th>
                            <td>@v.Date</td>
                            <td>@v.SizeStr</td>
                            <td title="@v.Log" style="overflow:hidden;text-overflow:ellipsis">@v.Log</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
